extends layout

block content
  h1= title
  p= 'http://docs.sequelizejs.com/manual/installation/getting-started.html'
  p Welcome to #{title}
  -for(var i=0;i<5;i++) {
        p= i
  -}

  -if(12 > 5) {
        p= "Hi All" + 12
  -}

  p= 12> 4 ? "Hi" : "no Hi"

  p(class="red")= 12> 4 ? "Hi" : "no Hi"

  mixin pet(name)
    li.in-line= name
 
   
  ul
    +pet('cat')
    +pet('dog')
    +pet('pig')

  -for(var i=0;i<users.length;i++) {
        p= users[i].username + 'a'
  -}

  ul
   each val in [1, 2, 12, 4, 5, 6]
    li: p: span='Hi all this is abhay' + val
